* {
  box-sizing: border-box;
}

header {
  margin-top: 15px;
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 20px;
  background-color: #FFF;
  opacity: .7;
}

section {
  text-align: center;
  margin-top: 40px;
}

body {
  background: url(http://maxpixel.freegreatpicture.com/static/photo/1x/Table-Cooking-Background-Herb-Food-Wooden-Knife-2879265.jpg) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
}

.intro, .select-diet {
  background-color: #343642;
  height: 500px;
  padding: 20px;
  width: 100%;
  color: #FFF;
}

.js-menu-controls {
  margin-bottom: 50px;

}

.email-label {
  color: #FFF;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #343642;
  margin-top: -30px;
}

header h1 {
  line-height: 1;
  margin-top: 80px;
  font-size: 50px;
  font-family: 'Fredericka the Great', cursive;
  padding-bottom: 10px;
  display: inline-block;
  position: relative;
  float: left;
}

.logo-text {
  font-size: 35px;
  width: 100%;
  font-family: 'Fredericka the Great', cursive;
  margin-top: -5px;
  display: inline-block;
  position: relative;
  float: left;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  float: left;
}

.day-title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}

.recipe-image {
  width: 100%;
}


.app-description {
  font-weight: bold;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-bottom: -10px;
}

.controls-button {
  background-color: #348899;
  width: 100%;
  border: 0;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: all .4s ease-in-out 0s;
}

.view-recipe-div {
  margin-top: -3px;
  background-color: #962D3E;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: all .4s ease-in-out 0s;
}

.view-recipe-div:hover {
  background-color: #343642;
}

.controls-button:hover {
  background-color: #962D3E;
}

.next, .previous, .remove {
  width: 32.2%;
  margin-top: 5px;
  padding: 10px;
}


.js-begin-btn {
  display: block;
  position: relative;
  margin-top: 20px;
  text-align: center;
}


/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: -40px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #775D6A;
  width: 95%; /* Could be more or less, depending on screen size */
}

.recipe-ingredients {
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  display: inline-block;
  padding: 3px;
}

.ingredient-container {
  border: 1px solid #775D6A;
  margin-top: 5px;
}

li {
  margin-top: 5px;
}

.recipe-instructions {
  margin: 0;
  text-align: left;
}

.recipe-image {
  position: relative;
  width: 35%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.legend {
  background-color: #FFF;
  width: 100%;
  margin-top: -10px;
}

legend {
  color: #343642;
  padding-bottom: 5px;
  font-weight: bold;
}

.diet-filter-label {
  font-weight: bold;
}

.diet-filter {
  border-radius: 3px;
  margin-left: 5px;
}

.intro-image {
  width: 250px;
  border-radius: 3px;
}

fieldset {
  width: 100%;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: #343642;
  background-color: #fff;
  text-align: left;
  border-radius: 3px;
}

.start-over {
  position: relative;
  bottom: 0px;
}

p {
  margin: 2px;
}

.title {
  font-family: 'Fredericka the Great', cursive;
  width: 250px;
}

.search-by-ingredient {
  width: 65.8%;
  margin-top: 10px;
  margin-bottom: 3px;
  position: relative;
  display: inline-block;
  padding: 7px;
  margin: 0;
}

.search-by-ingredient-btn {
  width: 32.2%;
  margin-top: 10px;
  margin-bottom: 3px;
  position: relative;
  display: inline-block;
  padding: 10px;
}

.send {
  width: 60px;
  padding: 4px;
  font-size: 16px;
}

.email-address {
  border-radius: 3px;
  padding: 2px;
}

.ingredient-form {
  width: 100%;
}

.calories {
  padding-bottom: 5px;
}


.recipe-card {
  border: 1px solid #343642;
  margin-bottom: 3px;
  margin-top: 8px;
  background-color: #DAEDE2;
}

.card-image {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  min-height: 120px;
}

.modal-card-image {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-left: 0;
  padding: 5px;
}

a {
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}

.js-view-recipe-btn {
  width: 100%;
  padding:0;
}

.view-recipe-span {
  font-size: 15px;
}

.recipe-title {
  font-size: 17px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.menu {
  background-color: #333745;
  padding-top: 10px;
  height: 420px;
  margin-bottom: 20px;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-4, .col-8, .col-12 {
  float: left;
}

/* Mobile defaults */
.col-4, .col-8, .col-5 {
  width: 100%;
}


@media only screen and (min-width: 370px) {
 .intro, .select-diet {
  height: 520px;
}
}

@media only screen and (min-width: 375px) {
  .intro, .select-diet {
  height: 600px;
}
}

@media only screen and (min-width: 412px) {
  .title {
    width: 300px;
  }
  .next, .previous, .remove {
  padding: 10px;
}

 .recipe-title {
  font-size: 18px;
  }

}

@media only screen and (min-width: 768px) {
  .intro, .select-diet {
    border-radius: 3px;
    margin-left: 25%;
    height: 400px;
  }

.send {
  width: 60px;
  padding: 4px;
  font-size: 16px;
}


 .app-description {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
 }

.controls-button {
  width: 250px;
  border-radius: 3px;
}

.js-begin-btn {
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

  .col-4 {
    width: 50%;
    margin-left:25%;
    margin-right:20%;
  }

/* Modal Content/Box */
.modal-content {
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-card-image {
  width: 40%;
}

.ingredient-container {
  border: 1px solid #775D6A;
  margin-top: 5px;
  width: 45%;
  display: inline-block;
}
  

}



/* Non-mobile, grid */
@media only screen and (min-width: 1000px) {

  .send {
  width: 60px;
  padding: 5px;
  font-size: 16px;
}

  /* 7 columns, 7/12 in % */
  .col-4 {
    width: 14.25%;
    margin-left:0;
    margin-right:0;
  }

  .col-5 {
    width: 25%;
    padding-left: 20px;
  }

  .col-8 {
    width: 40%;
    margin-left: 300px;
    margin-bottom: 100px;
  }

  .day-title {
  margin-top: 5px;
  font-size: 25px;
}

.row {
  max-width: 1200px;
  height: 425px;
}

.recipe-title {
  height: 115px;
  font-size: 15px;
}

.recipe-card {
  margin-bottom: 3px;
  min-height: 250px
}

.search-by-ingredient {
  width: 50%;
  padding: 3px;
  margin-bottom: 2px;
}

.search-by-ingredient-btn {
  width: 45%;
  padding: 5px;
  margin-bottom: 2px;
  font-size: 16px;
}

.js-view-recipe-btn {
  width: 100%;
}

.title {
  width: 100%;
}

.next, .previous, .remove {
  width: 30%;
  margin: .25px;
  margin-top: 2px;
  padding: 3px;
}

.js-begin-btn {
  margin-left: auto 0;
  margin-right: auto 0;
}

.logo {
  width: 60px;
  margin-top: 7px;
}

header h1 {
  line-height: 1;
  margin-top: 30px;
  font-size: 25px;
}

.send-recipes {
  background-color: #343642;
  padding: 10px;
}

}