* {
  box-sizing: border-box;
}

header {
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 20px;
}

section {
  text-align: center;
  margin-top: 250px;
}

html {
    background: url(http://maxpixel.freegreatpicture.com/static/photo/1x/Table-Cooking-Background-Herb-Food-Wooden-Knife-2879265.jpg) no-repeat left center fixed;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro, .select-diet {
  background-color: #343642;
  height: 500px;
  padding: 20px;
  opacity: .9;
  width: 100%;
  color: #FFF;
}

main {
  margin-top: -50px;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 17px;
  color: #343642;
  opacity: .9;
  margin-top: -30px;
  background: #FFF;
}

header h1 {
  line-height: 1;
  margin-top: 80px;
  font-size: 50px;
  font-family: 'Fredericka the Great', cursive;
  padding-bottom: 10px;
  display: inline-block;
  position: relative;
  float: left;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  float: left;
}

.day-title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}

.recipe-image {
  width: 100%;
}


.app-description {
  font-weight: bold;
  padding-top: 30px;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.controls-button {
  background-color: #348899;
  width: 100%;
  border: 0;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: all .4s ease-in-out 0s;
}

.view-recipe-span {
  margin-top: -3px;
  background-color: #962D3E;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: all .4s ease-in-out 0s;
}

.view-recipe-span:hover {
  background-color: #343642;
}

.controls-button:hover {
  background-color: #962D3E;
}




.js-begin-btn {
  display: block;
  position: relative;
  margin-top: 20px;
  text-align: center;
}


/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: -250px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #775D6A;
  width: 80%; /* Could be more or less, depending on screen size */
}

.recipe-ingredients {
  margin-top: 0;
  text-align: left;
  position: relative;
  display: inline-block;
  padding: 5px;
}

.recipe-instructions {
  margin: 0;
  text-align: left;
}

.recipe-image {
  width: 30%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.legend {
  background-color: #FFF;
  width: 100%;
  margin-top: -10px;
}

legend {
  color: #343642;
  padding-bottom: 5px;
  font-weight: bold;
}

.diet-filter-label {
  font-weight: bold;
}

fieldset {
  width: 100%;
  height: 250px;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
  color: #343642;
  background-color: #fff;
  text-align: left;
}

.start-over {
  height: 200px;
  position: relative;
  bottom: 0px;
}

p {
  margin: 2px;
}

.title {
  width: 250px;
  padding-left: 30%;
}

.search-by-ingredient {
  width: 65%;
  margin-top: 3px;
  margin-bottom: 3px;
  position: relative;
  display: inline-block;
  padding: 3px;
  margin: 0;
}

.search-by-ingredient-btn {
  width: 33%;
  margin-top: 3px;
  margin-bottom: 3px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 5px;
}

.ingredient-form {
  width: 100%;
}

.calories {
  padding-bottom: 5px;
}


.recipe-card {
  border: 1px solid #343642;
  margin-bottom: 3px;
  margin-top: 8px;
  background-color: #DAEDE2;
}

.card-image {
  width: 100%;
  position: relative;
  margin-bottom: 0;
}

.modal-card-image {
  width: 30%;
  position: relative;
  display: inline-block;
  margin-left: 0;
  padding: 5px;
}

.js-view-recipe-btn {
  width: 100%;
  padding:0;
}

.view-recipe-span {
  font-size: 15px;
}

.next-option, .view-recipe, .remove-day {
  position: relative;
  margin-bottom: 0;
  width: 100%;
}

.recipe-title {
  font-size: 17px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  height: 2900px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: #333745;
  opacity: .9;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-4, .col-8, .col-12 {
  float: left;
}

/* Mobile defaults */
.col-4, .col-8 {
  width: 100%;
}

.col-4 {
  height: 500px;
}

@media only screen and (min-width: 370px) {
 header {
  margin-left: 10%
 }
 .intro, .select-diet {
  height: 520px;
}
}

@media only screen and (min-width: 375px) {
 header {
  margin-left: 5%
 }
  .intro, .select-diet {
  height: 600px;
}
 }


/* Non-mobile, grid */
@media only screen and (min-width: 1000px) {

  /* 7 columns, 7/12 in % */
  .col-4 {
    width: 14.25%;
  }
  .col-8 {
    width: 50%;
  }

  .day-title {

  font-size: 25px;
}

.row {
  max-width: 1500px;
  height: 425px;
}

.recipe-title {
  height: 90px;
}

.controls-button {
  width: 350px;
}

.recipe-card {
  margin-bottom: 3px;
  min-height: 200px
}

.search-by-ingredient {
  width: 50%;
  padding: 3px;
  margin-bottom: 2px;
}

.search-by-ingredient-btn {
  width: 45%;
  padding: 5px;
  margin-bottom: 2px;
}

.js-view-recipe-btn {
  width: 100%;
}

.title {
  width: 100%;
}

.next, .previous, .remove {
  width: 30%;
  margin: .25px;
  margin-top: 2px;
  padding: 3px;
}

.js-begin-btn {
  display: block;
  position: relative;
  margin-left: 35%;
  text-align: center;
}

fieldset {
  width: 350px;
  margin-left: 36.75%;
  padding-left: 20px;
}

header {
  margin-left: 40%;
  margin-bottom: -120px;
}

.logo {
  width: 80px;
}

header h1 {
  line-height: 1;
  margin-top: 50px;
  font-size: 40px;
}

.app-description {
  width: 400px;
  margin-left: 35%;
}


}